@import "../base/variables";

.apartement-cards-container {
  width: 90%;
  margin: 2rem;
	padding-top: 1rem;
  padding-bottom: 1rem;
  & div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    grid-gap: 2rem;
  }
}

.apartement_title{
  padding-bottom: 2rem;
}

.apartmentCard{
  box-shadow: 0 10px 20px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
  display: flex; 
  flex-direction: column;
  & div {
    display: flex;
    justify-content: center;
    width: 100%;
    & a {
      color: white;
    }
  }
  &.show {
    width: 50%;
    margin: 2rem;
    display: flex;
    & div {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }
  & .product-details {
    & h3 {
      display: inline-block;
      position: relative;
      text-align: center;
      font-size: 26px;
      color: $color-navy;
      margin: 0;
      margin-bottom: 2rem;
    }   
    & p {
      text-align: left;
      font-size: 18px;
      font-weight: light;
      color: $color-blue;
      padding-bottom: 2rem;
      padding-left: 2rem;
      & .bold {
        color: $color-navy;
        padding-right: 0.75rem;
      }
    } 
  }
  & img {width: 100%;height: 100%;}
}

.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 50%;
}

.control{
	position: absolute;
	bottom: 0%;
}

.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background:  $color-navy;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
  & span {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin:0;
  }
  & .price {
    background: $color-blue;
    color: $color-navy;
    border: 0;
    margin: 0;
  }
  & .look {
    z-index: 3; font-weight: bolder;
  }
  &:hover {
    background: $color-blue;
    cursor: initial;
  }
}

.btn-link {
  padding: 0.5rem;
}

.current_user_access {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.edit_btn {
	background:  $color-navy;
	border-radius: 5px;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
  width: 30%;
  &:hover {
    background: $color-blue;
  }
  & span {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin:0;
  }
}

.delete_btn {
  all: unset;
  &:hover {
    cursor: pointer;
  }
}

.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 45%;
	display: inline-block;
}

.info {
    background: rgba(95, 168, 211, 0.75);
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    align-items: center;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

@media (min-width: $breakpoint-medium-devices) {
  .apartement-cards-container {
    & div {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}

@media (min-width: $breakpoint-large-devices) {
  .apartement-cards-container {
    & div {
      grid-template-columns: repeat(auto-fill, minmax(400px, auto));
    }
  }
}