.hero-image {
  height: 250px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../public/beachCleaning.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  color: white;
}