header {
  font-family: $font-family-title;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 55px;
  background-color: $color-blue;
  height: 80px;
  & img {
    height: 50px;
  }
  & .company {
    color: $color-navy;
    & :hover {
      color: $color-whiteblue;
    }
  }
  & nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
   
    & li a {
      letter-spacing: 0.2px;
      &:link {
        color: $color-navy;
      }
      &:visited {
        color: $color-navy;
      }
      &:hover {
        color: $color-whiteblue;
        border-bottom: 2px solid $color-whiteblue;
      }
    }
  }
}

.list {
  gap: 0.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
}

.link {
  margin: 0 15px;
  
  color: #f1f1f1;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  header {
     flex-direction: column;
     height: 150px;
  }
  .link:nth-child(1){
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .link {
    line-height: 5px;
    text-align: center;
  }
  .btn {
    display:block;
  }
};