header {
  font-family: $font-family-title;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 55px;
  background-color: $color-blue;
  height: 80px;
  & img {
    height: 50px;
  }
  & h1 {
    color: $color-navy;
  }
  & nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    & li a {
      letter-spacing: 0.2px;
      &:link {
        color: $color-navy;
      }
      &:visited {
        color: $color-navy;
      }
      &:hover {
        color: $color-turquoise;
        border-bottom: 2px solid $color-turquoise;
      }
    }
  }
}
