h1, h2, h3, h4, h5, h6 {
  color: $color-navy;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  margin: 2rem;
  color: $color-blue;
}

.about-goal{
  max-width: 80%;
  display: flex;
  border: solid $color-blue 1px;
  border-radius: 5px;
  gap:1rem;
  padding: 1rem;

}

.about-goal-left{
  flex: 1;
}

.about-goal-left > img{
  width:100%;
}

.about-goal-right{
  flex: 2;
}

.about-team{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid $color-blue 1px;
  border-radius: 5px;
  padding: 1rem;
  gap: 1rem;
}

.team-cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.member-card{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: solid $color-blue 1px;
  border-radius: 5px;
  padding: 1rem;
}

.member-card > img{
  height: 150px;
}