main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-form {
  margin: 2rem;
}

.container-form {
  & input {
    border: 1px solid $color-navy;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: $font-family-content;
  }
  & button {
        background-color: $color-navy;
        color: #fff;
        padding: 15px 0;
        margin: 2rem;
        border: none;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
        &:hover {
          transition-duration: 0.2s;
          background-color: $color-blue;
        }
      }
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  .new-container-form {
    min-width: 400px;
  }
}

