main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-title {
  margin-bottom: 35px;
}

.login-form-container {
  & input {
    border: 1px solid black;
    padding: 12px 20px;
    margin: 8px 0;
    &[type="submit"] {
      background-color: #1B4965;
      color: white;
      padding: 15px 0;
      margin: 15px 0;
      border: none;
      border-radius: 8px;
      width: 100%;
      cursor: pointer;
      &:hover {
        transition-duration: 0.2s;
        background-color: #5FA8D3;
      }
    }
  }
}

.login-forgot-password {
  float: right;
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  .login-form-container {
    min-width: 400px;
  }
}