html{
  height: 100%;
}

body{
  height:100%;
}

#root{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

a{
  text-decoration: none;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 1rem;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 300px;
}

.input-container{
  display: flex;
  flex-direction: column;
}

input{
  border-radius: 5px;
  min-height: 2rem;
  min-width: 15rem;
}

main > div{
  width:100%;
}