$font-family-title: 'Urbanist', sans-serif;
$font-family-content: 'Red Hat Text', sans-serif;

html{
  height: 100%;
}

body{
  height:100%;
  font-family: $font-family-content;
}

#root{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-title;
}

a{
  text-decoration: none;
}

main{
  display: flex;
  flex: 1;
}

.input-container{
  display: flex;
  flex-direction: column;
}

input{
  border-radius: 5px;
}

main > div{
  width:100%;
}